@tailwind base;
@tailwind components;
@tailwind utilities;

/* dm-sans-regular - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./fonts/dm-sans-v11-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/dm-sans-v11-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* dm-sans-500 - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("./fonts/dm-sans-v11-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/dm-sans-v11-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* dm-sans-700 - latin */
@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("./fonts/dm-sans-v11-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/dm-sans-v11-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* vollkorn-regular - latin */
@font-face {
  font-family: "Vollkorn";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("./fonts/vollkorn-v21-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./fonts/vollkorn-v21-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --clr-fullblue: #0c1821;
  --clr-darkblue: #1b2a41;
  --clr-mediumblue: #628395;
  --clr-beige: #f7dabb;
  --clr-beigelight: rgba(247, 218, 187, 0.6);
  --clr-champagne: #dfd5a5;
  --clr-camel: #cf995f;
  --clr-firered: #ee6352;
  --clr-whiteish: #efe9f4;

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --contantainer-width-sm: 90%;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--clr-fullblue);
  color: var(--clr-whiteish);
  line-height: 1.7;
  background-image: url(../src/img/bg.png);
}

::-webkit-scrollbar {
  display: none;
}

/* GENERAL STYLES */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--clr-beigelight);
}

section > h2 {
  color: var(--clr-champagne);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--clr-beigelight);
}

a {
  color: var(--clr-champagne);
  transition: var(--transition);
}

a:hover {
  color: var(--clr-whiteish);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--clr-champagne);
  padding: 0.75rem 1.2rem;
  border: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--clr-champagne);
  transition: var(--transition);
}

.btn:hover {
  background: var(--clr-whiteish);
  color: var(--clr-fullblue);
  border-color: transparent;
}

.btn-primary {
  background: var(--clr-champagne);
  color: var(--clr-fullblue);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* MEDIA QUERY MEDIUM DEVICES */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

/* MEDIA QUERY SMALL DEVICES */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 2rem;
  }
}
